html {
    height: 100%;
}

body {
    min-height: 100vh; /* Asegura que el body ocupe al menos el 100% de la altura del viewport */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Clase para el contenido principal que debe empujar el footer */
.main-content-wrapper {
    flex-grow: 1; /* Esto hace que el div crezca y empuje el footer */
}

/* El footer solo necesita margin-top: auto para pegarse abajo */
footer {
    margin-top: auto; /* Empuja el footer al final del contenedor flex */
    /* Asegúrate de que no haya un 'flex: 1' u otras propiedades de flex que lo anulen aquí */
}